{% extends '/user/dashboard/layout.html.twig' %}
{% block dashboard_main %}
    <style>
        .form-container {
            padding-top: 4em;
        }
        .form-header {
            margin-bottom: 1em;
        }
        .button-group {
            display: flex;
            align-items: center;
            margin-top: 0.5em;
        }
        .button-group a {
            margin-left: 1em;
        }
        .divider {
            font-size: 1.5em;
            display: flex;
            align-items: center;
        }

        .divider::before, .divider::after {
            flex: 1;
            content: '';
            padding: 1px;
            background-color: #bbbb;
            margin: 2em !important;
        }

    </style>
    <div class="transactions-section">
        <h2 style="padding-top: 3em; font-size: 2rem;">{{ 'pipeline'|trans }}</h2>

        <div class="row">
            <div class="col-md-12">
                <h4 style="padding-bottom: 3em;">{{ 'create_edit_your_pipeline'|trans }}</h4>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <p>{{ 'text_pipeline'|trans }}</p>
                {{ 'text_pipeline_your_actions'|trans }}
                {% for action in actions %}
                    {% if action.actionType  %}
                        "{{ action.actionType.value |trans  }}",
                    {% endif %}
                {% endfor %}

                <p>{{ 'text_pipeline_your_actions_edit'|trans }}</p>
                <ul>
                    {% for action in actions %}
                        <li>
                            "{% if action.actionType %}{{ action.actionType.value|trans }}{% else %}N/A{% endif %}"
                            {{ '_for_'|trans }}
                            "{% if action.interval %}{{ action.interval.value|trans }}{% else %}N/A{% endif %}"
                        </li>
                    {% endfor %}
                </ul>

                {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="action-item">
                    <div class="divider">{{ 'okayPassword_edit'|trans }}</div>
                    {{ form_row(form.customerOkayPassword) }}
                </div>

                {% for actionForm in form.actions %}
                    <div class="action-item">
                        <div class="divider">Action {{ loop.index }} </div>
                        {{ form_row(actionForm.position) }}
                        {{ form_errors(actionForm.position) }}
                        {{ form_row(actionForm.actionType) }}
                        {{ form_row(actionForm.interval) }}
                    </div>
                {% endfor %}

                <p>{{ 'text_add_action_button'|trans }}</p>

                {{ form_row(form._token) }}

                {{ form_row(form.submit_add) }}
                {{ form_row(form.submit) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
