{% extends './base.html.twig' %}
{% block content %}
    <style>
        .form-container {
            padding-top: 4em;
        }
        .form-header {
            margin-bottom: 1em; /* Add some space between the header and the form */
        }
        .button-group {
            display: flex;
            align-items: center;
            margin-top: 0.5em; /* Adjust margin to align buttons properly */
        }
        .button-group a {
            margin-left: 1em; /* Space between the buttons and the text area */
        }
        .divider {
            font-size: 1.5em;
            display: flex;
            align-items: center;
        }

        .divider::before, .divider::after {
            flex: 1;
            content: '';
            padding: 1px;
            background-color: #bbbb;
            margin: 2em !important;
        }
    </style>
    <div class="container">
        <h1 style="padding-top: 3em; font-size: 2rem;">
            {{ 'header.envelope_from'|trans }} {{ customerFullName }} {{ 'header.for'|trans }} {{ beneficiaryFullName }}
        </h1>

        <div class="row">
            <div class="col-md-12">
                {% if not decodedNote %}
                    <h1 class="form-header" style="padding-top: 2em;">{{ 'header.decrypt_to_read'|trans }}</h1>
                    <h4 style="padding-bottom: 3em;">{{ 'enter_answer'|trans }}</h4>

                    {% if beneficiaryCongrats is defined and beneficiaryCongrats %}
                        <div class="alert alert-info">{{ beneficiaryCongrats }}</div>
                    {% endif %}

                    {{ form(form) }}
                {% endif %}
                {% if decodedNote %}
                    <h1 class="form-header" style="padding-top: 2em;">{{ 'header.here_is_your_data'|trans }}</h1>
                    <h4 style="padding-bottom: 3em;">{{ 'header.save_it'|trans }}</h4>

                    {% if beneficiaryCongrats is defined and beneficiaryCongrats  %}
                        <div class="alert alert-info">{{ beneficiaryCongrats }}</div>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_row(form.customerText) }}
                    <p class="alert alert-success" style="padding: 2em;">  {{ 'link_will_expire'|trans|nl2br }}</p>
                    {{ form_end(form) }}

                {% endif %}
            </div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


