{% extends './base.html.twig' %}
{% block content %}
    <style>
        .form-container {
            padding-top: 4em;
        }
        .form-header {
            margin-bottom: 1em; /* Add some space between the header and the form */
        }
        .button-group {
            display: flex;
            align-items: center;
            margin-top: 0.5em; /* Adjust margin to align buttons properly */
        }
        .button-group a {
            margin-left: 1em; /* Space between the buttons and the text area */
        }
        p {
            margin-bottom: 2em; /* Add some space between the header and the form */
        }
        .divider {
            font-size: 1.5em;
            display: flex;
            align-items: center;
        }

        .divider::before, .divider::after {
            flex: 1;
            content: '';
            padding: 1px;
            background-color: #bbbb;
            margin: 2em !important;
        }
        #box {
            margin-bottom: 1.5rem;
            padding: 0.5rem;
            border: 1px solid #ced4da;
            border-radius: 6px;
            /*background-color: #f1f3f5;*/
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
            background: rgba(255, 255, 255, 0.9);
        }

        #box:hover {
            background-color: #e9ecef;
        }
    </style>
    <div class="container">
        <h1 style="padding-top: 3em; font-size: 2rem;">{{ 'header.dashboard'|trans }}</h1>

        <div class="row">
            <div class="col-md-12">
                <h1 class="form-header" style="padding-top: 2em;">{{ 'dashboard.create_your_secure_envelope'|trans }}</h1>
                <!-- Introduction Text Spoiler (Default Open) -->
                <div id="box">
                    <div class="mb-3" style="padding: 2rem;">
                        <p>{{ 'create_your_secure_envelope_text'|trans|raw }}</p>
                    </div>
                </div>
                {{ form_start(form) }}
                {% if decodedNote %}
                    <div class="form-group">
                        {{ form_label(form.customerTextAnswerOne) }}
                        <div class="button-group">
                            {{ form_widget(form.customerTextAnswerOne) }}
                            <section class="mb-4">
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="/note/{{ noteId }}/decrypt/customerTextAnswerOne" role="button"><i class="">decrypt</i></a>
                            </section>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.customerTextAnswerTwo) }}
                        <div class="button-group">
                            {{ form_widget(form.customerTextAnswerTwo) }}
                            <section class="mb-4">
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="/note/{{ noteId }}/decrypt/customerTextAnswerTwo" role="button"><i class="">decrypt</i></a>
                            </section>
                        </div>
                    </div>
                {% endif %}
                {{ form_row(form.customerText) }}

                <div class="divider">{{ 'your_questions'|trans }}</div>
                <p>{{ 'your_questions_explain'|trans }}</p>
                {{ form_row(form.customerFirstQuestion) }}
                {{ form_row(form.customerFirstQuestionAnswer) }}
                {{ form_row(form.customerSecondQuestion) }}
                {{ form_row(form.customerSecondQuestionAnswer) }}

                {{ form_row(form._token) }}

                <div class="divider">{{ 'heir_questions'|trans }}</div>
                <p>{{ 'heir_questions_explain'|trans }}</p>
                {{ form_end(form) }}
            </div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


