{% extends 'user/dashboard/layout.html.twig' %}


{% block dashboard_main %}
    <div class="transactions-section">
        <h2 style="padding-top: 3em;">{{ 'title_delete_account'|trans }}</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" style="font-size: 1.5rem !important;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        {% if not sent %}
            {{ form_start(form) }}

            {{ form_row(form._token) }}

            {{ form_end(form) }}
        {% endif %}

        {% if sent %}
            <div class="alert alert-warning" role="alert">
                {{ 'delete_message_sent'|trans }}
            </div>
        {% endif %}


    </div>
{% endblock %}

