{% extends 'user/dashboard/layout.html.twig' %}

{% block dashboard_main %}
    <div class="transactions-section">
        <h2>Second Email</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="transaction-card">
{#            {% include '/user/dashboard/_email_second_section.html.twig' %}#}
            {% if customerSecondEmailVerified %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.edit_your_email_tip'|trans }}</div>
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSecondEmail }}/edit"
                       role="button">
                        <i class="">{{ 'dashboard.edit_your_email'|trans }}</i>
                    </a>
                </section>
                {#                <p>explanation</p> #}
            {% endif %}

            {% if customerSecondEmail is not defined or not customerSecondEmail %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.add_your_second_email_tip'|trans }}</div>
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/email/create" role="button">
                        <i class="">{{ 'dashboard.add_your_second_email'|trans }}</i>
                    </a>
                </section>
                {#                <p>explanation</p> #}
            {% endif %}

            {% if customerSecondEmail is defined and customerSecondEmail and not customerSecondEmailVerified %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.verify_edit_your_email_tip'|trans }}</div>
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4"
                       href="/contact/{{ customerSecondEmail }}/edit" role="button">
                        <i class="">{{ 'dashboard.verify_edit_your_email'|trans }}</i>
                    </a>

                </section>
                {#                <p>explanation</p> #}
            {% endif %}
        </div>
    </div>
{% endblock %}
