{% extends 'user/dashboard/layout.html.twig' %}

{% block dashboard_main %}
    <div class="transactions-section">
        <h2>First phone number</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="transaction-card">
{#            {% include '/user/dashboard/_phone_section.html.twig' %}#}
            {% if customerPhoneVerified %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.edit_your_phone_tip'|trans }}</div>

                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstPhone }}/edit" role="button">
                        <i class="">{{ 'dashboard.edit_your_phone'|trans }}</i>
                    </a>
                </section>
                {#                <p>explanation</p>#}
            {% endif %}

            {% if customerFirstPhone is not defined or not customerFirstPhone %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.add_your_phone_tip'|trans }}</div>

                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/phone/create" role="button">
                        <i class="">{{ 'dashboard.add_your_phone'|trans }}</i>
                    </a>
                </section>
                {#                <p>explanation</p>#}
            {% endif %}

            {% if customerFirstPhone is defined and customerFirstPhone and not customerPhoneVerified %}
                <section class="mb-4">
                    <div class="tooltip-box">{{ 'dashboard.verify_edit_your_phone_tip'|trans }}</div>

                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstPhone }}/edit" role="button">
                        <i class="">{{ 'dashboard.verify_edit_your_phone'|trans }}</i>
                    </a>
                </section>
                {#                <p>explanation</p>#}
            {% endif %}

        </div>
    </div>
{% endblock %}
