{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <h2 class="mt-7 pt5" style="padding-top: 4em;">{{ 'about_page.title'|trans }}</h2>

        <p>{{ 'about_page.introduction.our_service'|trans }}</p>
        <p>{{ 'about_page.introduction.no_watching'|trans }}</p>
        <p>{{ 'about_page.introduction.privacy_priority'|trans }}</p>
        <p>{{ 'about_page.introduction.encrypted_details'|trans }}</p>
        <p>{{ 'about_page.introduction.encrypted_envelopes'|trans }}</p>
        <p>{{ 'about_page.introduction.no_decoding'|trans }}</p>
        <p>{{ 'about_page.introduction.no_way_decode'|trans }}</p>

        <p>{{ 'about_page.how_it_works'|trans }}</p>

        <h5>{{ 'about_page.section_titles.registration'|trans }}</h5>
        <p></p>

        <h5>{{ 'about_page.section_titles.secret_questions'|trans }}</h5>
        <p></p>

        <h5>{{ 'about_page.section_titles.create_envelope'|trans }}</h5>
        <p></p>

        <h5>{{ 'about_page.section_titles.add_beneficiary'|trans }}</h5>
        <p>{{ 'about_page.beneficiary_info'|trans }}</p>

        <p>{{ 'about_page.assurance'|trans }}</p>
    </div>
{% endblock %}
