{% extends 'base.html.twig' %}
    {% block content %}
        <style>
            .form-container {
                padding-top: 4em;
            }
            .form-header {
                margin-bottom: 1em;
            }
            .button-group {
                display: flex;
                align-items: center;
                margin-top: 0.5em;
            }
            .button-group a {
                margin-left: 1em;
            }
            p {
                margin-bottom: 3em !important;
                margin-top: 3em !important;
            }
            .divider {
                font-size: 1.5em;
                display: flex;
                align-items: center;
            }

            .divider::before, .divider::after {
                flex: 1;
                content: '';
                padding: 1px;
                background-color: #bbbb;
                margin: 2em !important;
            }
        </style>
        <div class="container">
            <h1 style="padding-top: 4em;">{{ 'edit_your_heir'|trans }}</h1>

            <p>{{ 'header.new_heir_explain'|trans }}</p>
            <p>{{ form_errors(form) }} </p>
            <p class="alert alert-success">{{ 'header.new_heir_explain_1'|trans }}</p>
            {{ form_start(form) }}
            {{ form_row(form.beneficiaryName) }}
            {{ form_row(form.beneficiaryFullName) }}
            <div class="divider">{{ 'heir_contacts'|trans }}</div>
            <p>{{ 'heir_contacts_explain'|trans }}</p>
            {{ form_row(form.beneficiaryEmail) }}
            {{ form_row(form.beneficiarySecondEmail) }}
            {{ form_row(form.beneficiaryCountryCode) }}
            {{ form_row(form.beneficiaryFirstPhone) }}
            {{ form_row(form.beneficiarySecondPhone) }}
            {{ form_end(form) }}
            <div class="divider">{{ 'heir_questions'|trans }}</div>
            <p style="margin-bottom: 1em !important; margin-top: 1em !important;">{{ 'heir_questions_edit'|trans }}</p>
            {% if customerHasNote is defined and customerHasNote %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/note/{{ customerHasNote }}/edit" role="button">
                        <i class="">{{ 'edit_your_secure_envelope'|trans }}</i>
                    </a>
                </section>
            {% endif %}

        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% endblock %}
