{% extends 'base.html.twig' %}
    {% block content %}
        <div class="container">
            <h1 style="padding-top: 4em;">{{ 'create_your_heir'|trans }}</h1>

            <p>{{ 'header.new_heir_explain'|trans }}</p>
            <p>{{ 'header.new_heir_explain_1'|trans }}</p>
            {{ form(form) }}

        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {% endblock %}
