{% extends 'user/dashboard/layout.html.twig' %}

{% block dashboard_main %}

    <div class="transactions-section">
        <h2>{{ 'contact_edit'|trans }}</h2>
        <div class="transaction-card">
            <div class="crypto-header">
                <div class="col-md-12">
                    {% if not decodedNote %}
                        <h4 style="padding-bottom: 3em;">{{ 'contact_can_edit'|trans }}</h4>
                    {% endif %}
                    {% if decodedNote %}
                        <h4 style="padding-bottom: 3em;">{{ 'contact_can_edit'|trans }}</h4>
                    {% endif %}

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


