{% extends 'base.html.twig' %}

{% block og_title %}{{ 'home_page.title'|trans }}{% endblock %}

{% block og_description %}{{ 'home_page.description'|trans }}{% endblock %}
{% block og_image %}{{ absolute_url('/build/logo-TheDigitalHeir-192x192.png') }}{% endblock %}

{% block content %}
    <style>

    </style>
    <div class="container">


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}