{% extends 'base.html.twig' %}
{% block content %}
    <style>
        .form-container {
            padding-top: 4em;
        }
        .form-header {
            margin-bottom: 1em; /* Add some space between the header and the form */
        }
        .button-group {
            display: flex;
            align-items: center;
            margin-top: 0.5em; /* Adjust margin to align buttons properly */
        }
        .button-group a {
            margin-left: 1em; /* Space between the buttons and the text area */
        }
        p {
            margin-bottom: 2em; /* Add some space between the header and the form */
        }
    </style>
    <div class="container">
        <h1 style="padding-top: 3em; font-size: 2rem;">{{ 'header.dashboard'|trans }}</h1>

        <div class="row">
            <div class="col-md-12">
                <h1 class="form-header" style="padding-top: 2em;">{{ 'create_your_secure_envelope'|trans }}</h1>
                <p> {{ 'create_your_secure_envelope_text'|trans|nl2br }} </p>
                {{ form_start(form) }}
                {% if decodedNote %}
                    <div class="form-group">
                        {{ form_label(form.customerTextAnswerOne) }}
                        <div class="button-group">
                            {{ form_widget(form.customerTextAnswerOne) }}
                            <section class="mb-4">
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="/note/{{ noteId }}/decrypt/customerTextAnswerOne" role="button"><i class="">decrypt</i></a>
                            </section>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.customerTextAnswerTwo) }}
                        <div class="button-group">
                            {{ form_widget(form.customerTextAnswerTwo) }}
                            <section class="mb-4">
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="/note/{{ noteId }}/decrypt/customerTextAnswerTwo" role="button"><i class="">decrypt</i></a>
                            </section>
                        </div>
                    </div>
                {% endif %}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}


