{% extends 'base.html.twig' %}
    {% block content %}
        <style>
            .form-container {
                padding-top: 4em;
            }
            .form-header {
                margin-bottom: 1em;
            }
            #demonstration_type2{
                padding-top: 6em;
            }
        </style>
        <div class="container">
            <h1 style="padding-top: 3em;font-size: 2rem;">{{ 'header.dashboard'|trans }}</h1>

            {#    Vue render    #}
{#            <div id="app"></div>#}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if customerFirstEmailVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstEmail }}/edit" role="button">
                        <i class="">{{ 'edit_your_email'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondEmailVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSecondEmail }}/edit" role="button">
                        <i class="">{{ 'edit_your_email'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if not customerFirstEmailVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstEmail }}/edit" role="button">
                        <i class="">{{ 'verify_edit_your_email'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondEmail is not defined or not customerSecondEmail %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/email/create" role="button">
                        <i class="">{{ 'add_your_second_email'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondEmail is defined and customerSecondEmail and not customerSecondEmailVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSecondEmail }}/edit" role="button">
                        <i class="">{{ 'verify_edit_your_email'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerPhoneVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstPhone }}/edit" role="button">
                        <i class="">{{ 'edit_your_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondPhoneVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSecondPhone }}/edit" role="button">
                        <i class="">{{ 'edit_your_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}


            {% if customerFirstPhone is not defined or not customerFirstPhone %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/phone/create" role="button">
                        <i class="">{{ 'add_your_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerFirstPhone is defined and customerFirstPhone and not customerPhoneVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerFirstPhone }}/edit" role="button">
                        <i class="">{{ 'verify_edit_your_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondPhone is not defined or not customerSecondPhone %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/phone/create" role="button">
                        <i class="">{{ 'add_your_second_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSecondPhone is defined and customerSecondPhone and not customerSecondPhoneVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSecondPhone }}/edit" role="button">
                        <i class="">{{ 'verify_edit_your_phone'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSocial is not defined or not customerSocial %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/social/create" role="button">
                        <i class="">{{ 'add_your_social'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSocial is defined and customerSocial and not customerSocialVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSocial }}/edit" role="button">
                        <i class="">{{ 'verify_edit_your_social'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerSocialVerified %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/contact/{{ customerSocial }}/edit" role="button">
                        <i class="">{{ 'edit_your_social'|trans }}</i>
                    </a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerHasBeneficiary is defined and customerHasBeneficiary %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/beneficiary/{{ customerHasBeneficiary }}/edit" role="button">
                        <i class="">{{ 'edit_your_heir'|trans }}</i>
                    </a>
                    <form action="{{ path('beneficiary_delete', {'beneficiaryId': customerHasBeneficiary}) }}" method="post" style="display:inline-block;" onsubmit="return confirm('{{ 'confirm_delete_beneficiary'|trans }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_beneficiary') }}">
                        <button type="submit" class="btn btn-outline-danger btn-floating m-1 mt-4">
                            <i class="">{{ 'delete_your_beneficiary'|trans }}</i>
                        </button>
                    </form>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerHasBeneficiary is defined and not customerHasBeneficiary %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/beneficiary/create" role="button"><i class="">{{ 'create_your_heir'|trans }}</i></a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerHasNote is defined and customerHasNote %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/note/{{ customerHasNote }}/edit" role="button">
                        <i class="">{{ 'edit_your_secure_envelope'|trans }}</i>
                    </a>
                    <form action="{{ path('note_delete', {'noteId': customerHasNote}) }}" method="post" style="display:inline-block;" onsubmit="return confirm('{{ 'confirm_delete_note'|trans }}');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_note') }}">
                        <button type="submit" class="btn btn-outline-danger btn-floating m-1 mt-4">
                            <i class="">{{ 'delete_your_secure_envelope'|trans }}</i>
                        </button>
                    </form>
                </section>
                <p>explanation</p>
            {% endif %}
            {% if customerHasNote is defined and not customerHasNote %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/note/create" role="button"><i class="">{{ 'create_your_secure_envelope'|trans }}</i></a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerHasPipeline is defined and customerHasPipeline %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/pipeline/{{ customerHasPipeline }}/edit" role="button"><i class="">{{ 'edit_your_pipeline'|trans }}</i></a>
                </section>
                <p>explanation</p>
            {% endif %}

            {% if customerHasPipeline is defined and not customerHasPipeline %}
                <section class="mb-4">
                    <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/pipeline/create" role="button"><i class="">{{ 'create_your_pipeline'|trans }}</i></a>
                </section>
                <p>explanation</p>
            {% endif %}

            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mt-4" href="/pipeline/create" role="button"><i class="">{{ 'make_a_payment'|trans }}</i></a>
            </section>
            <p>explanation</p>

        </div>

    {% endblock %}
