{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <h1 style="padding-top: 3em;">Set a New Password</h1>

        {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.submit) }}

        {{ form_row(form._token) }}

        {{ form_end(form) }}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}