{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <h1 style="padding-top: 3em;">{{ 'restore_pass'|trans }}</h1>

{#        {% if error %}#}
{#            <div class="alert alert-warning" role="alert">#}
{#                {{ error.messageKey|trans(error.messageData, 'security') }}#}
{#            </div>#}
{#        {% endif %}#}

        <p>{{ 'enter_email'|trans }}</p>
        {{ form(form) }}

        {#            TODO ??? key for what ??? #}
        {#            {{ key }} #}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
{% endblock %}
